@{
    ViewBag.Title = "Произошла ошибка";
}

<p>Метод контроллера самостоятельно обработал ошибку.</p>
<p>Необработанного исключения нет, поэтому страница ошибки не показывается.</p>
<p>Исключение явно отправлено в систему мониторинга.</p>

