@{
    ViewBag.Title = "О проекте";
}

<h1>@ViewBag.Title.</h1>

<p>Zidium &mdash; сервис мониторинга приложений и информационных систем.</p>
<p>Данное приложение разработано в целях демонстрации возможностей Zidium.</p>
