@model Zidium.Examples.Models.LogModel

@{
    ViewBag.Title = "Пример использования контекста лога";
}

<h1>@ViewBag.Title.</h1>

<p>
    Страница эмулирует работу многопоточного компонента, который одновременно обработал 10 транзакций.   
</p>

<p>
    Смотреть лог многопоточного компонента тяжело &mdash; непонятно, к какому потоку (транзакции) относится каждая строка лога.
    Zidium позволяет помечать каждое сообщение лога контекстом.
    Контекст лога &mdash; это любая строка, по которой удобно фильтровать сообщения лога при чтении.
</p>

<p>
    Зайдите в личный кабинет, откройте лог. 
    Кликните по любому сообщению из данного примера, появится контекст лога, кликните по нему.
    Лог отфильтруется по данному контексту, останутся только сообщения, которые относятся к выбранной транзакции.
</p> 

@if (Model.ZidiumComponentIsFake)
{
    <p class="alert alert-danger">
        Нет связи с системой мониторинга. @Html.ActionLink("Проверьте соединение", "ConnectionTest", "Home")
    </p>
}
else
{
    <p>
        <a href="http://@(Model.AccountName).lk.zidium.net/Logs?ComponentId=@Model.ComponentId">Посмотреть веб-лог в личном кабинете</a>
    </p>
}
