<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Trace"
      internalLogFile="nlog-internal.log">
    <targets>
        <target name="ZidiumLog" xsi:type="Zidium.Log" />
        <target name="ZidiumErrors" xsi:type="Zidium.Errors" />
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="ZidiumLog" />
        <logger name="*" minlevel="Trace" writeTo="ZidiumErrors" />
    </rules>
</nlog>